@font-face {
    font-family: "Default";
    src: url("../../assets/fonts/Lato-Regular.ttf");
}

* {
    box-sizing: border-box;
    color: white;
    font-family: "Default";
}

a {
    color: rgb(65, 65, 255);
    text-decoration: none;
}

body {
    background-color: black;
    text-align: center;
    margin: 0;
}

code {
    margin-left: 50px;
    font-family: Consolas;
    font-size: 11px;
    background-color: rgb(57, 57, 57);
    padding: 5px;
}

.header {
    padding: 1px;
    text-align: center;
    background-color: rgb(22, 22, 22);
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(22, 22, 22);
    width: 100%;
    text-align: center;
}

.footer > p > a {
    text-decoration: none;
}

.top-corner {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 25px;
    font-size: 30px;
    text-decoration: none;
}

h3 {
    color: #ff0000;
}

h5 {
    color: rgb(255, 174, 174);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tutorial-section {
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
    margin: 0 auto;
}

.tutorial-section:hover {
    cursor: pointer;
}