.nav {
    background-color: rgb(8, 8, 8);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(22,22,22);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    background-color: rgb(61, 61, 61);
}

.highlighted {
    background-color: #414141;
}

.nav h1 {
    text-align: center;
    padding: 15px;
    margin: 0;
}