.link-img {
    height: 60px;
    display: inline;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    user-select: none;
}

.showcase-text {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 20px;
}

.showcase-links {
    position: absolute;
    bottom: 53px;
    left: 0;
    right: 0;
}

.showcase-img {
    z-index: -1;
    position: absolute;
    top: 122px; /* Header Height */
    bottom: 200px; /* Footer Height */
    width: 100%;
}

.showcase-img img {
    height: 100%;
    user-select: none;
}

@media screen and (max-width: 1200px) {
    .showcase-img {
        position: static;
    }

    .showcase-img img {
        height: auto;
        width: 100%;
    }

    .showcase-links {
        position: static;
    }

    .link-img {
        height: 50px;
    }
}