@font-face {
    font-family: "Default";
    src: url('../assets/fonts/Multicolore.otf');
}

@font-face {
    font-family: "Title";
    src: url('../assets/fonts/Ostrich_Sans_Inline-regular.otf');
}

.top-corner {
    position:absolute;
    top:0;
    left:0;
    color: white;
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
}

body {
    font-family: "Default";
    background: black;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-family: "Title";
    color: white;
    font-size: 70px;
    font-weight: normal;
}

p {
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    max-width: 300px;
    margin-bottom: 30px;
}

.link-img {
    width: 40%; 
    display: inline;
}

.link-img:hover {
    cursor: pointer;
}

.download-btn {
    background-color: #FFB100;
    border-radius: 6px;
    box-shadow: 0 4px 0 0 #b68001;
    color: white;
    font-size: 18px;
    height: 61px;
    line-height: 61px;
    margin: 50px;
    position: relative;
    text-decoration: none;
    padding: 15px;
    width: 186px;
}

.download-btn:active {
    background-color: #FFB100;
    top: 4px;
    box-shadow: 0 0 0 0 #b68001;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1100px;
    z-index: -100;
    transform: translate(-50%, -50%);
}
