@font-face {
    font-family: "Default";
    src: url('Multicolore.otf');
}

.gameContainer {
    margin: auto;
    width: 305px;
    border: 3px solid grey;
    padding: 10px;
}

body {
    font-family: "Default";
    font-size: x-small;
    background: black;
    width: 305px;
    margin: auto;
    color: white;
}

.top-corner {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #FFB100;
}