@font-face {
    font-family: "TitleFont";
    src: url('../assets/fonts/FFFFORWA.TTF');
}

@font-face {
    font-family: "BodyFont";
    src: url('../assets/fonts/Pixeled.ttf');
}

body {
    background: black;
    color: white;
    font-family: "BodyFont";
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
    background: url("../assets/images/background_anim.gif");
    background-size: 200px;
}

h1 {
    font-family: "TitleFont";
}

.otherfont {
    font-family: TitleFont;
}

.button {
    width: 120px;
    background: grey;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "BodyFont";
    color: white;
    user-select: none;
    font-size: 10px;
    border: 1px white solid;
    text-decoration: none;
}

.button2 {
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    background: grey;
    border-radius: 5px;
    font-family: "BodyFont";
    color: white;
    user-select: none;
    font-size: 10px;
    border: 1px white solid;
    text-decoration: none;
}

.button:hover {
    padding: 2px 8px;
    cursor: pointer;
}

.button2:hover {
    cursor: pointer;
}

p {
    font-size: 10px;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}
