@font-face {
    font-family: "magniflyer-font";
    src: url('./fonts/Multicolore.otf');
}

@font-face {
    font-family: "pathofpatterns-font";
    src: url('./fonts/RajdhaniMedium.ttf');
}

@font-face {
    font-family: "sabotage3d-font";
    src: url('./fonts/AreaKilometer50.ttf');
}

@font-face {
    font-family: "spacedrift-font";
    src: url('./fonts/Pixeled.ttf');
}

@font-face {
    font-family: "pressurepop-font";
    src: url('./fonts/ShareTech-Regular.ttf');
}